[Unit]
Description = Cart Service
[Service]
User=roboshop
// highlight-start
Environment=REDIS_HOST=redis.persistent.sbs
Environment=CATALOGUE_HOST=catalogue.persistent.sbs
Environment=CATALOGUE_PORT=8080
// highlight-end
ExecStart=/bin/node /opt/app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target